.container0 {
    background-image: url(./../../../Assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -95px;
    z-index: 1;
    height: 102vh;
    width: 100%;
}

.container1 {
    background: rgba(31, 33, 45, 0.44);
    backdrop-filter: blur(5px);
    z-index: 20;
    height: 102vh;
    width: 100%;
}

.space {
    height: 30%;
}

.Header-Event {
    color: #E0DED2;
    font-family: 'Gilroy ExtraBold';
    font-size: 8.5vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 8.8px;
    text-align: center;
}

.get {
    color: #FE9900;
    font-family: 'Gilroy ExtraBold';

}

.subtitle0 {
    display: flex;
    align-items: center;
    gap: 1%;
    justify-content: center;
}

.line {
    width: 20%;
    height: 4px;
    background-color: #9FC8D4;
}

.slogan {
    color: #9FC8D4;
    font-size: 60px;
    font-weight: 500;
    font-family: 'Photograph Signature', sans-serif;
    margin-bottom: 0.7%;
}
.poweredby{
    color: #E0DED2;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Photograph Signature', sans-serif;


}

.subtitle0 {
    opacity: 0;
    animation: fadeIn 1s forwards; 
  }
  
  .line {
    animation: growLine 2s forwards; 
  }
  
  .slogan {
    opacity: 0;
    animation: fadeIn 1s forwards; /* Adjust the duration and delay as needed */
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes growLine {
    0% {
      width: 0;
    }
    100% {
      width: 20%;
    }
  }
  
.conttt{
    display: flex;
    align-items: center;
    width: 90%;
    flex-direction: row-reverse;
    gap:70%;
    margin-left: 5%;
    margin-top: 1%;
    


}
.logo2 {
    margin-top: 1%;
    width: 10%;
    height: auto;
    /* position: absolute;
    top: 88%;
    left: 90%;
    transform: translate(-50%, -50%); */
}
.poweredby{
    color: #E0DED2;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Photograph Signature', sans-serif;
    white-space: nowrap;


}




.subscribe {
    border: 3px solid #E0DED2;
    color: #E0DED2;
    text-align: center;
    line-height: normal;
    background-color: transparent;
    padding: 1.5vw 6.5vw;
    font-family: 'Gilroy ExtraBold';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.92px;
    position: absolute;
    top: 77%;
    left: 37.65vw;
    transform: translate(-50%, -50%);
    cursor:pointer;
    animation: blobBounce 1s infinite alternate;

}
.subscribe:hover {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
  }

  
  
@keyframes blobBounce {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }

.date-container {
    display: flex;
    gap: 1%;
    justify-content: center;
    font-family: 'Proxima Nova Bold';
}

.power{
    display: flex;
    flex-direction: column;
}


  .power img{
    height:auto;
    width: 80%;
    

  }

.icon1,
.utica,
.date,
.th,
.jan {
    font-size: 3vw;
    white-space: nowrap;

}

.icon1,
.date,
.th {
    color: #FE9900;
}

.th {
    margin-top: -1%;
}

.jan,
.utica {
    color: #E0DED2;
}



@media (max-width:1200px) {
    .logo2 {
        width: 11%;
        height: auto;
        margin-top: 3%;

    }
    .subscribe {
        left: 37%;
    }
    .power img{
        width: 80%;

    }
    .conttt{
        margin-top: 2%;
    }

}
@media (max-width:1130px) {
    .conttt{
        margin-top: 4%;
    }

}
@media (max-width:1050px) {
    .conttt{
        margin-top: 6%;
    }

}

@media (max-width:950px) {
    .subscribe {
        position: absolute;
        top: 73%;
        left: 35%;
        transform: translate(-50%, -50%);
    }

    .slogan {
        font-size: 50px;
    }

    .Header-Event {
        white-space: nowrap;
        font-size: 8vw;
    }

    .space {
        height: 32%;
    }
    .container0 {
        height: 95vh;
    }
    
    .container1 {
        height: 95vh;
    }
    .conttt{
        margin-top: 5%;
        width:90%;
        margin-left: 5%;
    }
    .logo2{
        width: 14%;
    }
    .power img{
        width: 100%;

    }
}

@media (max-width:900px) {
    .conttt{
        margin-top: 6%;
        gap:65%;
    }
    
}
@media (max-width:850px) {
    .conttt{
        margin-top: 8%;
        gap:65%;
    }
    .logo2{
        margin-top: 4%;

    }
    
}

@media (max-width:800px) {
    .subscribe {
        position: absolute;
        left: 34%;
        top:72%;
        transform: translate(-50%, -50%);
    }

    .slogan {
        font-size: 45px;
        font-weight: 500;
    }

    .Header-Event {
        font-size: 7.5vw;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .space {
        height: 33%;
    }

    .logo2 {
        width: 15%;
        margin-top: 8%;

    }
    .power img{
        height:auto;
        width: 80%;

      }
    .conttt{
        gap:60%;
        margin-top: 4%;
    }

    .icon1,
    .utica,
    .date,
    .th,
    .jan {
        font-size: 4vw;
        white-space: nowrap;

    }
    .container0 {
        background-image: url(./../../../Assets/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -95px;
        z-index: 1;
        height: 95vh;
        width: 100%;
    }
    
    .container1 {
        background: rgba(31, 33, 45, 0.44);
        backdrop-filter: blur(5px);
        z-index: 20;
        height: 95vh;
        width: 100%;
    }

}
@media (max-width:750px) {


    .conttt{
        margin-top: 6%;
    }
}

@media (max-width:700px) {
    .subscribe {
        position: absolute;
        left: 33%;
        top:68%;
        transform: translate(-50%, -50%);
    }
    .logo2{
        width: 17%;
        margin-top: 7%;
    }
    .conttt{
        margin-top: 8%;
    }
}




@media (max-width:650px) {
    .subscribe {
        position: absolute;
        left: 33%;
        transform: translate(-50%, -50%);
    }

    .slogan {
        font-size: 40px;
        font-weight: 500;
    }

    .line {
        width: 20%;
        height: 2px;
        background-color: #9FC8D4;
    }

    .Header-Event {
        font-size: 7vw;
    }
 

    .logo2 {
        width: 15%;
    }
    .container0 {
        height: 90vh;
    }
    
    .container1 {

        height: 90vh;
    }
    .space{
        height: 35%;
    }
    .conttt{
        margin-top: 9%;
    }

}

@media (max-width:600px) {

.conttt{
    margin-top: 10%;
}
.poweredby{
    font-size: 30px;
}
}

@media (max-width:585px) {

    .conttt{
        margin-top: 14%;
    }
    }

@media (max-width:550px) {

    .container0 {

        height: 80vh;
    }
    
    .container1 {

        height: 80vh;
    }
    .subscribe {
        padding: 1vw 6vw;
        font-size: 20px;
        left: 33%;
        top:70%;
    }
    .Header-Event {
        font-size: 7vw;
        padding-top: 3%;
    }
    .conttt{
        margin-top: 5%;
        gap:50%;
            
    }
    .logo2{
        width:20%;
    }

}

@media (max-width:500px) {
    .container0 {

        height: 70vh;
    }
    
    .container1 {

        height: 70vh;

    }

    .slogan {
        font-size: 30px;
        font-weight: 500;
    }

    .Header-Event {
        font-size: 7vw;
        letter-spacing: 7px;
        padding-top: 1%;

    }

    .subscribe {
        top:68%;
        padding: 1vw 6vw;
        font-size: 20px;
        left: 30%;
    }
    
    .space{
        height: 33%;
    }
    .conttt{
        margin-top: 10%;
    }

}
@media (max-width:470px) {

.conttt{
    margin-top: 12%;
}
}

@media (max-width:450px) {
    .container0 {
        height: 65vh;

    }
    
    .container1 {

        height: 65vh;
    }
    .conttt{
        margin-top: 1%;
    }
    .poweredby{
        font-size: 25px;
    }

    .slogan {
        font-size: 30px;

    }
    .line {
        width: 15%;
        height: 2px;
    }

    .Header-Event {
        font-size: 7.5vw;
        letter-spacing: 5px;
        padding-top: 3%;

    }

    .space {
        height: 40%;
    }
    .subscribe {
        top:75%;
        padding: 1vw 6vw;
        font-size: 15px;
        left: 33%;

    }
    .icon1,
    .utica,
    .date,
    .th,
    .jan {
        font-size: 4.25vw;

    }
}
@media (max-width:420px) {
.conttt{
    margin-top: 3%;
}
}

@media (max-width:400px) {

    .conttt{
        margin-top: 6%;
    }

    .slogan {
        font-size: 30px;

    }
    .line {
        width: 15%;
        height: 2px;
    }

    .Header-Event {
        font-size: 8vw;
        letter-spacing: 4px;

    }

    .space {
        height: 40%;
    }
    .subscribe {
        top:73%;
        padding: 1vw 6vw;
        font-size: 15px;
        left: 31%;
    }
    .icon1,
    .utica,
    .date,
    .th,
    .jan {
        font-size: 4.5vw;

    }
}

@media (max-width:370px) {
    .conttt{
        margin-top: 10%;
    }
    .subscribe{
        top:70%;
    }
}

@media (max-width:335px) {

    .container0 {
        background-image: url(./../../../Assets/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -95px;
        z-index: 1;
        height: 60vh;
        width: 100%;
    }
    
    .container1 {
        background: rgba(31, 33, 45, 0.44);
        backdrop-filter: blur(5px);
        z-index: 20;
        height: 60vh;
        width: 100%;
    }

    .slogan {
        font-size: 30px;

    }
    .line {
        width: 15%;
        height: 2px;
    }

    .Header-Event {
        font-size: 8vw;
        letter-spacing: 3px;

    }

    .space {
        height: 35%;
    }
    .subscribe {
        top:70%;
        padding: 1vw 6vw;
        font-size: 15px;
        left: 28vw;
    }
    .icon1,
    .utica,
    .date,
    .th,
    .jan {
        font-size: 5vw;

    }
    .power img{
        width: 100%;
    } 
    .logo2{
        top:91%;
    }
    .conttt{
        margin-top: 14%;
    }
    .poweredby{
        font-size: 20px;
    }
}

@media (max-width:320px) {
    .conttt{
        margin-top: 17%;
    }
}

@media (max-width:305px) {
    .conttt{
        margin-top: 20%;
    }
}

@media (max-width:295px) {
    .subscribe {
        left: 26vw;
        top:68%;
    }
}


   

    
