/*.Collab-section1{
    background-color: #E0DED2;
}
.text-centered-agenda2{
    font-weight: 400!important;
    padding-top: 17vw;
    color: #e0ded2 !important;;
}

.container02 {
   margin-top: -10vw;
   z-index: 1;
   

}
.subtitle-pgm {
    opacity: 0;
    animation: fadeIn 2s forwards;
  }
  
  .line-sub-pgm {
    animation: growLine 2s forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes growLine {
    0% {
      width: 0;
    }
    100% {
      width: 20%;
    }
  }
  
.container3 {
    background: url(./../../Assets/image4.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0% -15vw;
    background-attachment: fixed;
    opacity: 0.9;
    z-index: 25;
    
 }


 .sous{
    color:#1F212D;
    text-align: center;
    font-size: x-large;
    letter-spacing: 3px;
    padding-bottom: 3%; 
    max-width: 90%;
    margin: 0 auto;
    margin-top: 1%;
    
 }
 .sous1{
    color:#9FC8D4;
    text-align: center;
    font-size: x-large;
    letter-spacing: 3px;
    padding-bottom: 3%; 
    max-width: 90%;
    margin: 0 auto;
    margin-top: 1%;
    
 }
  .jobs-offer {
    padding-top: 2vw;
    padding-bottom: 5vw;
    background-color: #E0DED2;
}

.jobs-offer .title1 {
    color: #1F212D;
    text-align: center;
    font-size: 4vw;
    font-style: normal;
    line-height: normal;
    letter-spacing: 9px;
    padding-bottom: 1%; 
    padding-top: 1%; 
    font-family: 'Proxima Nova Bold';
    position: relative;
    
}
.exposant .title1 {
    color: #9FC8D4;
    text-align: center;
    font-size: 4vw;
    font-style: normal;
    line-height: normal;
    letter-spacing: 9px;
    font-family: 'Proxima Nova regular';
    padding-bottom: 1%;
    padding-top: 2%;
}

.jobs{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    gap:5vw;
    justify-content:center;
    padding-left: 10vw;
    padding-right: 10vw;
}
.ally {
    position: relative;
    width: 90%;
    gap: 5%;
    height: 16vw;
    overflow: hidden;
}

.cadre {
    position: relative; 
    border: 3px solid #1F212D;
    height: 10.2vw;
    overflow: hidden;
    z-index: 100;
}

.allyphoto {
    width: 100%;
    height: auto;
    object-fit: cover; 
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
}

.alliesCont {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(224, 222, 210, 0.9);
    display: flex;
    flex-direction: column;
    gap: 0.3vw;
    box-sizing: border-box;
}


.btn1,
.btn2 {
    border: 2px solid #1F212D;
    color: #1F212D;
    background-color: transparent;
    font-size: 1.25vw;

    cursor: pointer;
    letter-spacing: 0.1vw;
    white-space: nowrap;
}

.btn2 {
    border-color: #1F212D;
    background-color: #1F212D;
    color: #E0DED2;
}
.exposant{
    background-color: #1F212D;
    padding-top: 1vw;
    padding-bottom: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;

}

.exp {
    position: relative;
    width: 100%;
    height: 10vw;
    border: 3px solid #9FC8D4;
    background-color: #E0DED2;
    overflow: hidden;
    
}
.expPhoto {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sponsor {
    position: relative;
    width: 90%;
    height: 10.5vw;
    border: 3px solid #1F212D;
    background-color: #E0DED2;
    overflow: hidden;

}

.s{
    padding-left: 10vw;
    padding-right: 10vw;
    gap:3.15vw;

}

.sponsorPhoto {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
@media (max-width:1325px) {
    .ally{
        height:16.5vw;
     }

}
@media (max-width:1100px) {
    .ally{
        height:16.75vw;
     }

}
@media (max-width:1050px) {
    .ally{
        height:17.25vw;
     }

}
@media (max-width:950px) {

    .container3 {
        background: url(./../../Assets/image4.jpg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: 0% -9vw;
        background-attachment: fixed;
        opacity: 0.9;
        z-index: 25;
    }
    .jobs{
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        gap:5vw;
        justify-content:center;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .ally {
        position: relative;
        width: 100%;
        height: 25vw;

        overflow: hidden;
    }
    .cadre{
        height: 17vw;
    }
    .exp,.sponsor{
        height: 16vw;
    }
    .btn1,
.btn2 {

    font-size: 1.75vw;
    padding: 0.45vw 1.5vw;
    letter-spacing: 0.2vw;

}
.sous,.sous1{
    font-size: 2.5vw;
    padding-bottom: 3%;
}

}
@media(max-width:790px){
    .ally {
        position: relative;
        width: 100%;
        height: 25.75vw;

        overflow: hidden;
    }
    .cadre{
        height: 17vw;
    }
}

@media (max-width:734px) {
    .container3 .text-centered-agenda2 {
        font-weight: 400!important;
        padding-top: 22vw!important;
        color: #e0ded2 !important;
    }

    .container02 {
        z-index: 1;
        height: auto; 
        margin-top: -13vw;
    }

    .container3 {
        background: url(./../../Assets/image4.jpg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: 0% -10vw;
        background-attachment: fixed;
        opacity: 0.9;
        z-index: 25;
    }
    .jobs-offer {
        padding-top: 1.5vw;
        padding-bottom: 2vw;
        background-color: #E0DED2;
    }
    
    .jobs-offer .title1,.exposant .title1 {
        font-size: 5vw;
        letter-spacing: 7px;
        padding-bottom: 1%;
        padding-top: 3%;

    }
    .exposant .title1 {
        font-size: 5vw;
        letter-spacing: 7px;
        padding-bottom: 1%;
    } 
}
@media (max-width:700px){
    .container3 .title-pgm{
        font-size: 5vw;
        white-space: nowrap;
    }
    .container3 .subtitle-pgm {
        font-size: 17px;
        white-space: nowrap;

    }
    .container3 .line-sub-pgm{
        width: 15%;
        height: 3px;
    }


}

@media (max-width:600px){
    .container3 .title-pgm{
        font-size: 6vw;
    }
    .container3 .subtitle-pgm {
        margin-top: 12px;
        letter-spacing: 3px;

gap:2%;
    }
    .container3 .text-centered-agenda2 {
        font-weight: 400!important;
        padding-top: 30vw;
        color: #e0ded2 !important;
    }

    .container02 {
        z-index: 1;
        height: auto;
        margin-top: -14vw;
    }

    .container3 {
        background: url(./../../Assets/image4.jpg);
        background-repeat: no-repeat;
        background-size: 120% auto;
        background-position: 89% -40px;
        background-attachment: fixed;
        opacity: 0.9;
        z-index: 25;
    }
    .jobs{
        display: grid;
        grid-template-columns: 30% 30% 30%;
        gap:5vw;
        justify-content:center;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    
    .ally {
        position: relative;
        width: 100%;
        height: 34.25vw;

        overflow: hidden;
    }
    .cadre{
        height: 22.5vw;
    }
    .exp,.sponsor{
        height: 21vw;
    }
    .btn1,
.btn2 {

    font-size: 2.5vw;
    padding: 0.45vw 1.5vw;
    letter-spacing: 0.2vw;

}
.jobs-offer .title1,.exposant .title1 {
    font-size: 6vw;
    letter-spacing: 0.75vw;
    padding-bottom: 1%;
    padding-top: 3%;

}
.exposant .title1 {
    font-size: 6vw;
    letter-spacing: 0.75vw;
    padding-bottom: 1%;
}
.jobs-offer,.exposant {
    padding-bottom: 4vw;
}
.sous,.sous1{
    font-size: 3.25vw;
    padding-bottom: 5vw;
}
.sous1{
    max-width: 100%;
}
 

}
@media (max-width:500px){
    .container3 .title-pgm{
        font-size: 5.5vw;
    }
    .container3 .subtitle-pgm {
        font-size: 3vw;
    }
    .container3 .line-sub-pgm {
        width: 15%;
        height: 2px;
    }

}
@media (max-width:450px){
    .container3 .title-pgm{
        font-size: 7vw;
        letter-spacing: 5px;
    }
    .container3 .subtitle-pgm {
        font-size: 3.5vw;
        letter-spacing: 3px;

    }
    .container3 .line-sub-pgm {
        width: 13%;
        height: 2px;
    }

}
@media (max-width:400px){
    .container3 .text-centered-agenda2 {
        font-weight: 400!important;
        padding-top: 38vw!important;
        color: #e0ded2 !important;
    }

    .container02 {
        z-index: 1;
        height: auto;
        margin-top: -18vw;
    }

    .container3 {
        background: url(./../../Assets/image4.jpg);
        background-repeat: no-repeat;
        background-size: 140% auto;
        background-position: 90% -30px;
        background-attachment: fixed;
        opacity: 0.9;
        z-index: 25;
    }
    .jobs{
        display: grid;
        grid-template-columns: 40% 40% ;
        gap:7vw;
        justify-content:center;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    
    .ally {
        position: relative;
        width: 100%;
        height: 43.5vw;

        overflow: hidden;
    }
    .cadre{
        height: 30vw;
    }
    .exp,.sponsor{
        height: 28vw;
    }
    .btn1,
.btn2 {

    font-size: 3vw;
    padding: 0.45vw 1.5vw;
    letter-spacing: 0.2vw;

}
.jobs-offer .title1,.exposant .title1 {
    font-size: 8vw;
    letter-spacing: 0.75vw;
    padding-bottom: 1%;
    padding-top: 3%;
    font-weight: 500;
}
.exposant .title1 {
    font-size: 8vw;
    letter-spacing: 0.5vw;
    padding-bottom: 1%;
    padding-top: 3%;
    font-weight: 500;

} 
.exposant{
    padding-bottom: 7vw;
}

}
@media (max-width:360px){
    .container3 .title-pgm{
        font-size: 7vw;
        letter-spacing: 4px;
    }
    .container3 .subtitle-pgm {
        font-size: 3.5vw;
        letter-spacing: 2px;

    }
    .container3 .line-sub-pgm {
        width: 15%;
        height: 1.5px;
    }
    .sous,.sous1{
        font-size: 3.75vw;
    }

}
@media (max-width:300px){
    .text-centered-agenda2 {
        font-weight: 400!important;
        padding-top: 40vw;
        color: #e0ded2 !important;
    }

    .container02 {
        z-index: 1;
        height: auto;
        margin-top: -20vw;
    }

    .container3 {
        background: url(./../../Assets/image4.jpg);
        background-repeat: no-repeat;
        background-size: 150% auto;
        background-position: 80% -10%;
        background-attachment: fixed;
        opacity: 0.9;
        z-index: 25;
    }
    .ally{
       height:44vw;
    }
    


}*/